data/output/Drosophila_melanogaster/*
data/output/Ciona_intestinalis/*
data/output/Ciona_savignyi/*
data/output/Monopterus_albus/*
data/output/Choloepus_hoffmanni/*
data/output/Chrysolophus_pictus/*
data/output/Saccharomyces_cerevisiae/*
data/output/Caenorhabditis_elegans/*
data/output/Mus_musculus/*
data/output/Homo_sapiens/*
data/stage/Drosophila_melanogaster/*
data/stage/Ciona_intestinalis/*
data/stage/Ciona_savignyi/*
data/stage/Monopterus_albus/*
data/stage/Choloepus_hoffmanni/*
data/stage/Chrysolophus_pictus/*
data/stage/Saccharomyces_cerevisiae/*
data/stage/Caenorhabditis_elegans/*
data/stage/Mus_musculus/*
data/stage/Homo_sapiens/*
data/raw/Drosophila_melanogaster/*
data/raw/Ciona_intestinalis/*
data/raw/Ciona_savignyi/*
data/raw/Monopterus_albus/*
data/raw/Choloepus_hoffmanni/*
data/raw/Chrysolophus_pictus/*
data/raw/Saccharomyces_cerevisiae/*
data/raw/Caenorhabditis_elegans/*
data/raw/Mus_musculus/*
data/raw/Homo_sapiens/*
*.swp
