data/*/Drosophila_melanogaster/*
data/*/Ciona_intestinalis/*
data/*/Ciona_savignyi/*
data/*/Monopterus_albus/*
data/*/Choloepus_hoffmanni/*
data/*/Chrysolophus_pictus/*
data/*/Saccharomyces_cerevisiae/*
data/*/Caenorhabditis_elegans/*
data/*/Mus_musculus/*
data/*/Homo_sapiens/*

